;==========================================================
;
;
;   ██████╗  ██████╗ ██╗  ██╗   ██╗██████╗  █████╗ ██████╗
;   ██╔══██╗██╔═══██╗██║  ╚██╗ ██╔╝██╔══██╗██╔══██╗██╔══██╗
;   ██████╔╝██║   ██║██║   ╚████╔╝ ██████╔╝███████║██████╔╝
;   ██╔═══╝ ██║   ██║██║    ╚██╔╝  ██╔══██╗██╔══██║██╔══██╗
;   ██║     ╚██████╔╝███████╗██║   ██████╔╝██║  ██║██║  ██║
;   ╚═╝      ╚═════╝ ╚══════╝╚═╝   ╚═════╝ ╚═╝  ╚═╝╚═╝  ╚═╝
;
;
;   To learn more about how to configure Polybar
;   go to https://github.com/jaagr/polybar
;
;   The README contains a lot of information
;
;==========================================================

[colors]
background = #dd3b4252
foreground = #d8dee9
primary = #ffb52a
secondary = #e60053
alert = #bf616a


[bar/mainbar0]
inherit = bar/barbase
modules-left = workspace0
[module/workspace0]
type = custom/script
exec = leftwm-state -w 0 -t $SCRIPTPATH/template.liquid
tail = true

[bar/barbase]
width = ${env:width}
offset-x = ${env:offsetx}
monitor = ${env:monitor}
;offset-y = ${env:y}
;width = 100%
height = 27
fixed-center = false
background = ${colors.background}
foreground = ${colors.foreground}
line-size = 3
line-color = #f00
border-size = 8
border-color = #00000000
padding-left = 0
padding-right = 2
module-margin-left = 1
module-margin-right = 2
font-0 = UbuntuMono Nerd Font:pixelsize=11;1
modules-center = xwindow
modules-right = filesystem xbacklight pulseaudio memory cpu wlan eth battery temperature date
tray-position = right
tray-padding = 2
cursor-click = pointer
cursor-scroll = ns-resize

[module/xwindow]
type = internal/xwindow
label = %title:0:64:...%

[module/filesystem]
type = internal/fs
interval = 25

mount-0 = /

label-mounted =   %percentage_used%%
label-unmounted = %mountpoint% not mounted
label-unmounted-foreground = ${colors.foreground-alt}

[module/xbacklight]
type = internal/xbacklight

format = <label>
label = ﯧ  %percentage%%

[module/cpu]
type = internal/cpu
interval = 2
format-prefix = "  "
format-prefix-foreground = ${colors.foreground-alt}
label = %percentage:2%%

[module/memory]
type = internal/memory
interval = 2
format-prefix = " "
format-prefix-foreground = ${colors.foreground-alt}
label = %percentage_used%%

[module/wlan]
type = internal/network
interface = wlp3s0
interval = 3.0

format-connected = <label-connected>
label-connected =  直  %essid%

format-disconnected = 睊

[module/eth]
type = internal/network
interface = enp0s25
interval = 3.0

format-connected-prefix = " "
format-connected-prefix-foreground = ${colors.foreground-alt}
label-connected = %local_ip%

format-disconnected =

[module/date]
type = internal/date
date = %d/%m/%Y  %H:%M

[module/pulseaudio]
type = internal/pulseaudio

format-volume = <label-volume>
label-volume = 墳  %percentage%%
label-volume-foreground = ${root.foreground}

label-muted = 婢  %percentage%%
label-muted-foreground = #888

[module/battery]
type = internal/battery
battery = BAT0
adapter = AC
full-at = 98
low-at = 15

label-charging =  %percentage%%
format-charging = <label-charging>

label-discharging =  %percentage%%
format-discharging = <label-discharging>

label-low = "  %percentage%%"
format-low = <animation-low> <label-low>

format-full-prefix = " "
format-full-prefix-foreground = ${colors.foreground-alt}

animation-charging-0 = 
animation-charging-foreground = ${colors.foreground-alt}
animation-charging-framerate = 750

animation-discharging-0 = 
animation-discharging-foreground = ${colors.foreground-alt}
animation-discharging-framerate = 750

animation-low-0 = 
animation-low-1 = ""

[module/temperature]
type = internal/temperature
thermal-zone = 0
warn-temperature = 60

format = <label>

label =  %temperature-c%

[settings]
screenchange-reload = true
;compositing-background = xor
;compositing-background = screen
;compositing-foreground = source
;compositing-border = over
;pseudo-transparency = false

;[global/wm]
;margin-top = 5
;margin-bottom = 5

; vim:ft=dosini
