* {
  all: unset; // Unsets everything so you can style everything from scratch
}

//Global Styles
.bar0 {
  background-color: #3B4252;
  color: #D8DEE9;
  font-family: "Ubuntu Mono Nerd Font";
  font-size: 2.0em;
  border-radius: 0.7em;
  opacity: 0.96;
}

// Workspaces
.ws {
  margin: 0.5em;
}

.ws-button-mine {
  color: #6D96A5;
}

.ws-button-visible {
  color: #AEB3BB;
}

.ws-button-busy {
  color: #AEB3BB;
}

.ws-button {
  color: #AEB3BB;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

// Sidestuff
.label {
  font-size: 1.0em;
  margin-right: 0.5em;
  color: #AEB3BB;
}

.metric scale trough {
  all: unset;
  background-color: #4C566A;
  border-radius: 1em;
  min-height: 0.3em;
  min-width: 3em;
  margin-left: 0.5em;
  margin-right: 1em;
}

.metric scale trough highlight {
  all: unset;
  background-color: #6D96A5;
  border-radius: 1em;
}
