ui {
    pane_frames {
        rounded_corners true
        hide_session_name true
    }
}
themes {
    farout {
        fg "#E0CCAE"
        bg "#0F0908"
        red "#DF674C"
        green "#8E947D"
        yellow "#FFC786"
        blue "#F49D69"
        magenta "#AA6B73"
        orange "#DF674C"
        cyan "#C69478"
        black "#1F1311"
        white "#F2DDBC"
    }
    nord {
        fg "#D8DEE9"
        bg "#3B4252"
        red "#BF616A"
        green "#A3BE8C"
        yellow "#EBCB8B"
        blue "#81A1C1"
        magenta "#B48EAD"
        orange "#D08770"
        cyan "#88C0D0"
        black "#3B4252"
        white "#E5E9F0"
    }
}

theme "farout"

mouse_mode false

copy_command "xclip -selection clipboard" // x11

scrollback_editor "nvim --noplugin"

keybinds clear-defaults=true {
    normal {
        // uncomment this and adjust key if using copy_on_select=false
        // bind "Alt c" { Copy; }
        bind "Alt 1" { GoToTab 1; }
        bind "Alt 2" { GoToTab 2; }
        bind "Alt 3" { GoToTab 3; }
        bind "Alt 4" { GoToTab 4; }
        bind "Alt 5" { GoToTab 5; }
        bind "Alt 6" { GoToTab 6; }
        bind "Alt 7" { GoToTab 7; }
        bind "Alt 8" { GoToTab 8; }
        bind "Alt 9" { GoToTab 9; }
        bind "Alt n" { NewPane; }
        bind "Alt t" { NewTab; }
        bind "Alt d" { Detach; }
    }
    locked {
        bind "Ctrl g" { SwitchToMode "Normal"; }
    }
    scroll {
        bind "q" "Esc" { SwitchToMode "Normal"; }
        bind "e" { EditScrollback; SwitchToMode "Normal"; }
        bind "/" { SwitchToMode "EnterSearch"; SearchInput 0; }
        bind "j" "Down" { ScrollDown; }
        bind "k" "Up" { ScrollUp; }
        bind "Ctrl f" "PageDown" { PageScrollDown; }
        bind "Ctrl b" "PageUp" { PageScrollUp; }
        bind "Ctrl d" { HalfPageScrollDown; }
        bind "Ctrl u" { HalfPageScrollUp; }
    }
    shared_except "locked" {
        bind "Ctrl g" { SwitchToMode "Locked"; }
        bind "Alt Left" "Alt h" { MoveFocusOrTab "Left"; }
        bind "Alt Right" "Alt l" { MoveFocusOrTab "Right"; }
        bind "Alt Down" "Alt j" { MoveFocus "Down"; }
        bind "Alt Up" "Alt k" { MoveFocus "Up"; }
        bind "Alt =" "Alt +" { Resize "Increase"; }
        bind "Alt -" { Resize "Decrease"; }
        bind "Alt z" { ToggleFocusFullscreen; SwitchToMode "Normal"; }
        bind "Alt a" { FocusNextPane; SwitchToMode "Normal"; }
        bind "Alt q" { Quit; }
        bind "Alt t" { NewTab; SwitchToMode "Normal"; }
    }
    shared_except "normal" "locked" {
        bind "Enter" "Esc" { SwitchToMode "Normal"; }
    }
    shared_except "scroll" "locked" {
        bind "Alt /" { SwitchToMode "Scroll"; }
    }
}
